body {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}
h1,
.bgi,
.footer,
a {
  color: white;
}
h3,
.bgi {
  font-size: 23px;
  font-weight: bold;
}
a {
  font-size: 18;
}
#header {
  background-image: url('../../resources/images/the-flatiron-building.png');
}
.menu ul {
  padding: 0px;
  list-style: none;
}
.menu li {
  margin-top: 5px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
#process h2 {
  font-size: 32px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.bgi {
  background-image: url('../../resources/images/the-flatiron-building.png');
}

.footer {
  background-color: dimgray;
  text-align: left;
}
.footer p {
  font-size: 11px;
}
.footer a {
  font-size: 18px;
}
